# Environment Variables

# MongoDB URI
MONGO_URI=

# JWT Secret
JWT_SECRET=

# Admin Password
ADMIN_PASSWORD=

# Frontend Base URL
FRONTEND_BASE_URL=

# Payment Configuration
PAYMENT_CURRENCY=
PAYMENT_MINIMUM_AMOUNT=
PAYMENT_MAXIMUM_AMOUNT=

# Stripe Configuration
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Services URLs
SERVICES_AUTH_URL=
SERVICES_PATIENT_URL=
SERVICES_DOCTOR_URL=
SERVICES_APPOINTMENT_URL=
SERVICES_NOTIFICATION_URL=
